{% extends "layout.html" %}
{% block title %}Page not found | ISMMS Health Check{% endblock %}
{% block body %}
	    <div class="page-header">
	    </div>
	    <div class="jumbotron survey-question">
	    <div class="container">
	    	<div class="col-lg-2"></div>
	    	<div class="col-lg-8">
	    	<h1>Something's not right</h1>
	    	<p>Please try a different request.</p>
	    	<img src="{{url_for('send_js',path='images/404.jpg')}}" width=100%><br><br>
	    	{% if message %}<p><strong>Details:</strong> {{message}}{% endif %}</p>
	    	</div>
	    </div><!-- /.container -->
{% endblock %}
