{% extends "layout.html" %}
{% block title %}Page not found | ISMMS Health Check{% endblock %}
{% block body %}
	    <div class="page-header">
	    </div>
	    <div class="jumbotron survey-question">
	    <div class="container">
	    	<div class="col-lg-2"></div>
	    	<div class="col-lg-8">
	    	<h1>Something's not right</h1>
	    	<p>We can't find that page. Please try a different request.</p>
	    	<img src="https://i.redd.it/57ozmznd2ab51.jpg" width=100%><br><br>
	    	{% if message %}<p><strong>Details:</strong> {{message}}{% endif %}</p>
	    	</div>
	    </div><!-- /.container -->
{% endblock %}
