{% macro render(form) -%}
{% from '_render_field.html' import render_field %}
<table style="width:100%">
  <thead>
    <tr>
      <th class="row_index"></th>
      <th class="row_value"></th>
    </tr>
  </thead>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field() }}
{% else %}
<tbody>
<tr style="height:50px" class="{{field.id}}">
      {% if field.type == "RadioField" %}
      		<td>{{field.label}}</td><td>{{render_field(field)}}</td>
      {% elif field.type=="FileField" %}
            <td>
            {{ field.label }}
            </td>
            <td>
            {{ field(class="input-sm")}}
      {% elif field.type=="TextAreaField" %}
          <td>
      		{{ field.label}}
          </td>
          <td>
          <div id="quill-{{ field.id }}" class="quill-edit" style="display:none" db="{{field.id}}">
              {{field.data}}
          </div>
          {{field(**{'style':'display:none'})}}
          </td>
      {% else %}
          <td>
          {{ field.label }}
          </td>
          <td>
          {{ field(class="form-control") }}
      {% endif %}
      {% if field.errors or field.help_text %}
      <span class="help-inline">
      {% if field.errors %}
        <span style="color:red">{{ field.errors|join(' ') }}</span>
      {% else %}
        {{ field.help_text }}
      {% endif %}
      </span> 
    {% endif %}
    </td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>
{% endmacro %}
