{% extends "layout.html" %}
{% block body %}
<div class="page-header">
	<h2>About</h2>
</div>
<div class="container">
<div class="col-md-12">
<h2>Mission</h2>
<p>To improve and safeguard the health of our entire Mount Sinai community, including our student researchers and clinicians, doctors, nurses, faculty, staff, and most importantly our patients.
</p>

<h2>What it does</h2>
<p>ISMMS Health Check is a new lightweight web app to simplify health workflows at ISMMS 
	through automated follow-up of medical protocols or critical health values. We have created if-this-then-that 
	style triggers for health data that takes the burden off health care providers to perform 
	follow-up while collecting data from patients and providers automatically.
</p>
<h2>Features</h2>
<ul>
<li>Make, edit, and store secure interactive surveys online via our lightweight web interface for any healthcare decision tree, workflow, or follow-up protocol, and share them securely with patients at home.
</li><li>
Connect triggers to the results of any survey question that matches some particular criteria that perform automatic actions
</li><li>
Runs autonomously, even while you sleep, in the cloud and accessible via a lightweight web and mobile interface
</li><li>
Backed by Mount Sinai managed HIPAA-compliant cloud services
</ul>
</div>
</div>
</div>
{% endblock %}

