{% extends "layout.html" %}
{% block body %}
<div class="page-header">
	<h2>About</h2>
</div>
<div class="container">
<div class="col-md-12">
<h2>Our Goal</h2>
<p>To help doctors, nurses, healthcare staff save time, provide more comprehensive care, communicate more, and not miss important pieces of information only available outside a patient’s record.
</p>

<h2>What it does</h2>
<p>Suretify is a new lightweight web app to simply hospital workflows through automated follow-up of discharge surveys, critical health values, and current hospital protocols that we are submitting for competition in the AthenaHealth MDP Innovation Challenge. We have created if-this-then-that style triggers for health data, such as making a phone call, sending a secure email, or even a custom web integration, that takes the burden off health care providers to perform follow-up while collecting data from patients and providers automatically.
</p>
<h2>Features</h2>
<ul>
<li>Make, edit, and store secure interactive surveys online via our lightweight web interface for any healthcare protocol, discharge survey, or follow-up procedure, and share them securely with patients at home
</li><li>
Connect triggers to the results of any survey question that matches some particular criteria that perform automatic actions
</li><li>
Automatically make a phone call to another provider or patient, send an SMS, email, or even push to a custom integration
</li><li>
Gather information outside the record automatically in response to critical values through trigger actions and add it to the record
</li><li>
Runs autonomously, even while you sleep, in the cloud and accessible via a lightweight web and mobile interface
</li><li>
Backed by HIPAA-compliant cloud services
</ul>
</div>
</div>
</div>
{% endblock %}

