{% extends "layout_sidebar.html" %}
{% block title %}Dashboard | ISMMS Health Check{% endblock %}
{% block headscripts %}<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>{% endblock%}
{% block body %}
	    <div class="page-header">
		    <h2><span style="color: grey;">{{survey.title}} /</span> Dashboard</h2>
    
		  <form method="GET" action="{{ request.path }}" class="form-inline">
			    
			  <span style="padding-right:5px">Start Date</span><input type="date" id="start_date" name="start_date" class="form-control" value="{{start_date}}">
			  <span style="padding-left:20px; padding-right:5px;">End Date</span><input type="date" id="end_date" name="end_date" class="form-control" value="{{end_date}}">
			  <input type="submit" value="Filter" class="form-control" class="btn btn-secondary">
			</form>
	    </div>
	    <div class="row justify-content-md-center">
	    	{% for fig in special_figs %}
		    <div class="col-lg-6" style="min-width:400px">{{fig|safe}}</div>
		    {% endfor %}
		    {% if last7_figs | length==0 %}
		    <div class="well">
				<div class="starter-template">
				No responses yet.
				<h1>:(</h1>
				</div>
			</div>
			{% endif %}
	    </div>
	    <h3>Last day</h3>
	    <div class="row">
	    	<div class="col-md-3" style="min-width:300px">
	    		<div class="text-center">
	    			<div class="card-body">
	    				<h1 class="card-title">{{today_count|int}} ({{today_pct|round(1)}}%)</h1>
	    				<h5 class="card-subtitle">Compliance</h5>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-md-3" style="min-width:300px">
	    		<div class="text-center">
	    			<div class="card-body">
	    				<h1 class="card-title">{{today_negative|int}}</h1>
	    				<h5 class="card-subtitle">Cleared to Attend</h5>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-md-3" style="min-width:300px">
	    		<div class="text-center">
	    			<div class="card-body">
	    				<h1 class="card-title">{{today_positive|int}}</h1>
	    				<h5 class="card-subtitle">Staying Home</h5>
	    			</div>
	    		</div>
	    	</div>
	    	
	    	<div class="col-md-3" style="min-width:300px">
	    		<div class="text-center">
	    			<div class="card-body">
	    				<h1 class="card-title">{{today_pct_pos|round(2)}}%</h1>
	    				<h5 class="card-subtitle">Percent Positive Screenings (last day)</h5>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="row justify-content-md-center">
	    	{% for fig in dash_figs %}
		    <div class="col-lg-4" style="min-width:400px">{{fig|safe}}</div>
		    {% endfor %}
	    </div>
	    {% if patients | length != 0 %}
	    <h4>Students staying home</h4>
	    <div class="row">
	    <table class="table table-hover" id="activesort">
		<thead>
			<tr>
			<th> Device ID </th>
			<th> Year </th>
			<th> Program </th>
			<th> Location </th>
			<th> Registered At</th>
			<th> Status </th>
			</tr>
		</thead>
		<tbody>
		{% for patient in patients %}
		  <tr>
			<td> <a href="/patients/{{patient.id}}">{{fmt_id(patient.mrn)}}</a></td>
			<td> {{patient.year}}</td>
			<td> {{patient.program}}</td>
			<td> {{patient.location}}</td>
			<td> {{momentjs(patient.creation_time).calendar()}}</td>
			<td> <button class="btn btn-xs btn-danger">Reject</button>
			</td></tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
		{% endif %}	
	    
	    <h3>Entire time period</h3>
	    <div class="row">
	    	<div class="col-md-3" style="min-width:300px">
	    		<div class="text-center">
	    			<div class="card-body">
	    				<h1 class="card-title">{{patient_count}}</h1>
	    				<h5 class="card-subtitle">New Student Registrations</h5>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="col-md-3" style="min-width:300px">
	    		<div class="text-center">
	    			<div class="card-body">
	    				<h1 class="card-title">{{week_count}}</h1>
	    				<h5 class="card-subtitle">Total Screenings</h5>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="row justify-content-md-center">
	    	{% for fig in last7_figs %}
		    <div class="col-lg-6" style="min-width:400px">{{fig|safe}}</div>
		    {% endfor %}
		    {% if last7_figs | length==0 %}
		    <div class="well">
				<div class="starter-template">
				No responses yet.
				<h1>:(</h1>
				</div>
			</div>
			{% endif %}
	    </div>
		
{% endblock %}
