{% extends 'layout_sidebar.html' %}
{% block title %}{{ action }} {{ data_type }} | Suretify{% endblock%}
{% import '_forms_edit.html' as forms %}
{% block body %}
    <div class="container">
		<div class="row">
			<div class="col-lg-3">
				</div>
			<div class="col-lg-8">
				{% block form %}
				<div class="form-group" style="background-color: lightgray; width:40em; padding:2em;margin-top:2em; border-radius: 1em 1em">
				<h1 style="margin-top:0; margin-bottom:12px">{{ action }} {{ data_type }}</h1>
				<hr>
				<form action="{{ form_action }}" method="{{ method | d("POST") }}" enctype="multipart/form-data">
				{{ forms.render(form) }}
				{% if u %}
					<input type="hidden" name="uniq_id" value="{{u}}">
				{% endif %}
				<hr>
				<center><input type="submit" value="Submit" class="btn btn-primary"> </center>
				</form>
				</div>
				{% endblock form %}
			  </div>
			<div class="col-lg-6">
			  </div> 
		</div>
    </div><!-- /.container -->
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    var max_fields = 20;
    var wrapper = $(".choices-container");
    var add_button = $(".add_form_field");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;
            $(wrapper).append('<div class="btn-group"><input class="form-control" type="text" name="choices"/><a href="#" class="delete"><span class="glyphicon glyphicon-remove-circle"></span></a></div>'); //add input box
        } 
        if (x >= max_fields){
            $(".add_form_field").hide();
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
        $(".add_form_field").show();
    })
});
deleteParent = function(obj){
	console.log(obj);
    $(obj).parent('div').remove();
}
</script>
{% endblock %}
