{% extends 'layout_sidebar.html' %}
{% block body %}
<link href="/assets/at/jquery.atwho.min.css" rel="stylesheet">
<script src="/assets/at/jquery.caret.min.js"></script>
<script src="/assets/at/jquery.atwho.min.js"></script>
	<div class="page-header">
	<h2>{{ action }} {{ data_type }}</h2>
	</div>
    <div class="col col-12" style="background-color:rgb(238, 238, 238);padding:15px">
		<div class="row">
			<div class="col-lg-1">
				</div>
			<div class="col-lg-10">
				{% block form %}
				<div class="form-group">
				<hr>
				<form action="{{ form_action }}" method="{{ method | d("POST") }}" enctype="multipart/form-data">
				{% for field in form %}
				{% if field.errors or field.help_text %}
	              <span class="help-inline">
	              {% if field.errors %}
	                {{ field.errors|join(' ') }}
	              {% else %}
	                {{ field.help_text }}
	              {% endif %}
	              </span>	
	            {% endif %}
	            {% endfor %}
				<div class="media" style="padding:10px; margin-top:0px;">
					<div class="media-container" style="max-width:900px; background-color:white;box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);">
					<div class="media" style="padding:10px;">
						<small>Question</small>
						<h4 class="media-heading">{{ form.question_id(class="transparent-input") }}</h4>
					</div>
				</div>
				<div class="connector">
					<div class="connector-line" style="border-style:none none none solid; margin-left:120px; padding:20px;">If<span style="color: grey;"> answer is </span>{{form.criteria(class="transparent-input")}}</div>
				</div>
				<div class="media" style="margin-left:80px; max-width:900px;margin-top:0px;box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);">
				<div class="media-left" style="background-color:#e6e6ff; padding:10px;box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);">
				  <a href="#">
					<img class="media-object" src="/assets/images/web-st.png" alt="..." style="height:64px">
				  </a>
				</div>
				<div class="media-body" style="padding:10px; background-color:white;padding:10px;">
					<small>Trigger</small>
				  <h4 class="media-heading">{{ form.kind(class="transparent-input") }}<span style="color: grey;"> to </span>{{form.recipients(class="transparent-input inputor")}}</h4>
				  <p><span style="font-weight:bold">Message:{{ form.title(class="form-control inputor") }}</span><span style="color: grey;">hint: type '&lt;' to select from a list of dynamic phrases</span></p>

				</div>
				</div>
				<div class="connector-line" style="border-style:none none none solid; margin-left:120px; padding:20px;">Then<span style="color: grey;"> send patient to </span>{{form.after_function(class="transparent-input")}}</div>
				</div>
				{% if u %}
					<input type="hidden" name="uniq_id" value="{{u}}">
				{% endif %}
				<hr>
				{% for field in form %}
					{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
					  {{ field() }}
					{% endif %}
				{% endfor %}
				<center><input type="submit" value="Submit" class="btn btn-primary"> </center>
				</form>
				</div>
				{% endblock form %}
			  </div>
			<div class="col-lg-6">
			  </div> 
		</div>
    </div><!-- /.container -->
    <script type="text/javascript">
	$('.inputor').atwho({
	    at: "<",
	    data: '/autocomplete/triggers',
	    insertTpl: "<${content} | ${name}>", 
	    displayTpl: "<li>${content}<br><small> ${name}</small></li>",
	    searchKey:"content",
	    limit:100
	})
	</script>
{% endblock %}
