{% extends 'layout.html' %}
{% import '_forms_edit.html' as forms %}
{% block body %}
	<div class="page-header">
		<h1>Register as an admin for the ISMMS Student Health Check</h1>
	</div>

    <div class="container">
		<div class="row">
			<div class="col-sm-2">
				</div>
			<div class="col-sm-8">
				<p>If you have already been authorized to sign up as an admin, please use the registration form below to sign up as an admin for the ISMMS Student Health Check. 
					<strong> All new accounts must be approved by a current admin before they become active. All registrations are closely monitored and logged, 
					and any inappropriate attempts to register will be investigated.</strong></p>
				{% block form %}
				<div class="form-group">
				<form action="{{ form_action }}" method="{{ method | d("POST") }}" enctype="multipart/form-data">
				{{ forms.render(form) }}
				{% if u %}
					<input type="hidden" name="uniq_id" value="{{u}}">
				{% endif %}
				<hr>
				<center><input type="submit" value="Submit" class="btn btn-primary"> </center>
				</form>
				</div>
				{% endblock form %}
			  </div>
			<div class="col-sm-2">
			  </div> 
		</div>
    </div><!-- /.container -->
{% endblock %}
