{% extends 'layout_sidebar.html' %}
{% block title %}{{ action }} {{ data_type }} | Suretify {% endblock %}
{% block body %}
<link href="/assets/at/jquery.atwho.min.css" rel="stylesheet">
<script src="/assets/at/jquery.caret.min.js"></script>
<script src="/assets/at/jquery.atwho.min.js"></script>
	<div class="page-header">
	<h2>{{ action }} {{ data_type }}</h2>
	</div>
    <div class="col col-12" style="background-color:rgb(238, 238, 238);padding:15px">
		<div class="row align-items-center">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				{% block form %}
				<div class="form-group">
				<hr>
				<form action="{{ form_action }}" method="{{ method | d("POST") }}" enctype="multipart/form-data">
				{% for field in form %}
				{% if field.errors or field.help_text %}
	              <span class="help-inline">
	              {% if field.errors %}
	                {{ field.errors|join(' ') }}
	              {% else %}
	                {{ field.help_text }}
	              {% endif %}
	              </span>	
	            {% endif %}
	            {% endfor %}
				<div class="media" style="padding:10px; margin-top:0px;">
					<div class="media-container" style="max-width:900px; background-color:white;box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);">
					<div class="media" style="padding:10px;">
						<small>After question</small>
						<h4 class="media-heading">{{ form.question_id(class="transparent-input") }}</h4>
					</div>
				</div>
				<div class="connector">
					<div class="connector-line" style="border-style:none none none solid; margin-left:120px; padding:20px;">Conditions:<br>If<span style="color: grey;"> {{form.subject(class="transparent-input")}} {{form.comparator(class="transparent-input")}} {{form.condition_value(class="transparent-input")}} {{form.next_comparator(class="transparent-input")}} </span></div>
				</div>
				<div class="media" style="margin-left:80px; min-width:860px;max-width:1100px;margin-top:0px;box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);">
				<div class="media-body" style="padding:10px; background-color:white;padding:10px;border-right:1px solid;">
				  <small>If true</small>
				  <h4 class="media-heading"><span style="color: grey;"> {{form.yes_type(class="transparent-input")}} </span></h4><br>
				  <small>Destination</small>
				  <h4 class="media-heading"><span style="color: grey;"> {{form.dest_yes(class="transparent-input")}}  </span></h4><br>
				  <span style="font-weight:bold">Message:</span><br>{{form.payload_yes(class="form-control inputor")}}<span style="color: grey;">hint: type '&lt;' to select from a list of dynamic phrases</span><br>
				  Send alert {{form.alert_yes(class="form")}}
				</div>
				<div class="media-body" style="padding:10px; background-color:white;padding:10px;">
				  <small>If false</small>
				  <h4 class="media-heading"><span style="color: grey;"> {{form.no_type(class="transparent-input")}} </span></h4><br>
				  <small>Destination</small>
				  <h4 class="media-heading"><span style="color: grey;"> {{form.dest_no(class="transparent-input")}}  </span></h4><br>
				  <span style="font-weight:bold">Message:</span><br>{{form.payload_no(class="form-control inputor")}}<span style="color: grey;">hint: type '&lt;' to select from a list of dynamic phrases</span><br>
				  Send alert {{form.alert_no(class="form")}}

				</div>
				</div>
				</div>
				{% if u %}
					<input type="hidden" name="uniq_id" value="{{u}}">
				{% endif %}
				<hr>
				{% for field in form %}
					{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
					  {{ field() }}
					{% endif %}
				{% endfor %}
				<center><input type="submit" value="Submit" class="btn btn-primary"> </center>
				</form>
				</div>
				{% endblock form %}
			  </div>
		</div>
    </div><!-- /.container -->
    <script type="text/javascript">
	$('.inputor').atwho({
	    at: "<",
	    data: '/autocomplete/triggers',
	    insertTpl: "<${content} | ${name}>", 
	    displayTpl: "<li>${content}<br><small> ${name}</small></li>",
	    searchKey:"content",
	    limit:100
	})
	</script>
{% endblock %}
