{% extends 'layout.html' %}
{% import '_forms_trigger.html' as forms %}
{% block body %}
<link href="/assets/at/jquery.atwho.min.css" rel="stylesheet">
<script src="/assets/at/jquery.caret.min.js"></script>
<script src="/assets/at/jquery.atwho.min.js"></script>

    <div class="container">
		<div class="row">
			<div class="col-lg-3">
				</div>
			<div class="col-lg-6">
				{% block form %}
				<div class="form-group" style="background-color: lightgray; width:40em; padding:2em;margin-top:2em; border-radius: 1em 1em">
				<h1 style="margin-top:0; margin-bottom:12px">{{ action }} {{ data_type }}</h1>
				<hr>
				<form action="{{ form_action }}" method="{{ method | d("POST") }}" enctype="multipart/form-data">
				{{ forms.render(form) }}
				{% if u %}
					<input type="hidden" name="uniq_id" value="{{u}}">
				{% endif %}
				<hr>
				<center><input type="submit" value="Submit" class="btn btn-primary"> </center>
				</form>
				</div>
				{% endblock form %}
			  </div>
			<div class="col-lg-6">
			  </div> 
		</div>
    </div><!-- /.container -->
    <script type="text/javascript">
	$('.inputor').atwho({
	    at: "<",
	    data: '/autocomplete/triggers',
	    insertTpl: "<${content} | ${name}>", 
	    displayTpl: "<li>${content}<br><small> ${name}</small></li>",
	    searchKey:"content",
	    limit:100
	})
	</script>
{% endblock %}
