{% extends 'layout.html' %}
{% import '_forms.html' as forms %}
{% block title %}Login | Suretify{% endblock %}
{% block body %}
    <div class="container">
		<div class="row">
			<div class="col-lg-3">
				</div>
			<div class="col-md-6">
				{% block form %}
				<section>
				<h1>{{ action }} {{ data_type }}</h1>
				<form action="{{ form_action }}" method="{{ method | d("POST") }}" enctype="multipart/form-data">
				{{ forms.render(form) }}
				<input type="submit" value="Submit" class="btn btn-primary"> 
				</form>
				</section><br>
				<p>New to Suretify? <a href='{{ url_for("signup") }}'>Sign up</a></p>
				{% endblock form %}
			  </div>
			</div>
		</div>
    </div><!-- /.container -->
{% endblock %}
