{% extends 'layout.html' %}
{% block title %}Welcome to Suretify{% endblock %}
{% block body %}
<div class="jumbotron">
		<img src="/assets/images/suretify-logo.png" height=200px>
        <h1>Welcome to Suretify</h1>
        <p>Ensuring complete and seamless healthcare communication from hospital to home.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/surveys/new/" role="button">Build a new exit survey &raquo;</a>
        </p>
      </div>
<div class="container">
<div class="row">
<div class="col-lg-4">
	<img class="img-circle" src="/assets/images/plus.png">
	<h2>Discharge Faster</h2>
	<p>Reduce the time between a patient's recovery and discharge by deploying simple, interactive protocols that are 
	accessible from any web interface. Create as many as you like for your inpatient clinic or hospital. Integrate your EMRs like EPIC into our HIPAA-compliant platform backed by 24/7 security and our BAA.</p>
</div>
<div class="col-lg-4">
	<img class="img-circle" src="/assets/images/tele.png">
	<h2>Dynamic Triggers</h2>
	<p>Program triggers that fire after a criteria in your discharge protocol is met, such as sending an email, SMS, webhook, integration, or even a phone call from one of our Suretify Programmable Humans (TM).</p>
</div>
<div class="col-lg-4">
	<img class="img-circle" src="/assets/images/home.png">
	<h2>Follow-up Anywhere</h2>
	<p>Send reminders and follow-up surveys to patients at home to better manage their healthcare and make sure they are getting the treatment they need.</p>
</div>
</div>
</div>
{% endblock %}
