{% extends 'layout.html' %}
{% block title %}Welcome to Suretify{% endblock %}
{% block body %}
<div class="jumbotron">
		<img src="/assets/images/suretify-logo.png" height=200px>
        <h1>Welcome to Suretify</h1>
        <p>Build dynamic screening tools and workflows for your hospital or medical practice.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/patients/signup/1" role="button">Take the COVID-19 Screening Tool &raquo;</a>
        </p>
      </div>
<div class="container">
<div class="row">
<div class="col-lg-4">
	<img class="img-circle" src="/assets/images/plus.png">
	<h2>Know Faster</h2>
	<p>Reduce the time between a change in patient's symptoms and taking action by deploying simple, interactive protocols that are 
	accessible from any web interface. Create as many as you like for your inpatient clinic or hospital.</p>
</div>
<div class="col-lg-4">
	<img class="img-circle" src="/assets/images/tele.png">
	<h2>Dynamic Triggers</h2>
	<p>Program triggers that fire after a criteria in your discharge protocol is met, such as sending an email, SMS, webhook, integration, or even a phone call.</p>
</div>
<div class="col-lg-4">
	<img class="img-circle" src="/assets/images/home.png">
	<h2>Follow-up Anywhere</h2>
	<p>Send reminders and follow-up surveys to patients at home to better manage their healthcare and make sure they are getting the treatment they need.</p>
</div>
</div>
</div>
{% endblock %}
