{% extends 'layout.html' %}
{% block title %}Welcome | ISMMS Health Check{% endblock %}
{% block body %}
<div class="jumbotron">
		<img src="assets/images/shc_logo.svg" height=200px>
        <h2>Welcome to the ISMMS Student Health Check</h2>
        <p>Check your symptoms for the novel coronavirus daily from anywhere, whether at home or on-the go. No login necessary.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="patients/signup/1" role="button">Take the COVID-19 Screening &raquo;</a>
        </p>
      </div>
<div class="container">
	<p class="h1 title text-center">How does this work?</p>
<div class="row">
<div class="col-lg-4">
	<img class="img-circle" src="assets/images/shc_step1.svg">
	<h2>Check your symptoms</h2>
	<p>Take the quick screening tool daily to screen for possible COVID-19 symptoms. No need to login and you may choose to keep your responses anonymous.</p>
</div>
<div class="col-lg-4">
	<img class="img-circle" src="assets/images/shc_step2.svg">
	<h2>Get your results</h2>
	<p>Each day that you screen your symptoms, a confirmation page shows you have completed the Student Health Check.</p>
</div>
<div class="col-lg-4">
	<img class="img-circle" src="assets/images/shc_step3.svg">
	<h2>Stop the spread</h2>
	<p>If you screen positive, stay home and protect others from the spread of the coronavirus.</p>
</div>
</div>
</div>
{% endblock %}
