<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>MedTracker</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">
    <link href="/assets/cards/cards.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/bootstrap/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/assets/bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/assets/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Suretify</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
            <li class="inactive"><a href="/surveys">Surveys</a></li>
            <li class="inactive"><a href="/triggers">Triggers</a></li>
      			<li class="inactive"><a href="/responses">Responses</a></li>
      			<li class="inactive"><a href="#admin">Admin</a></li>
      	    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.email }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">Log out</a></li>
              </ul>
              {% else %}
              <li class="inactive"><a href="#">Products</a></li>
              <li class="inactive"><a href="#">About</a></li>
              <li class="inactive"><a href="#">Contact</a></li>
              <li class="dropdown">
        	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
        	    <ul class="dropdown-menu">
                <li><a href="/login">Log in</a></li>
        		    <li><a href="/signup">Sign up</a></li>
        	    </ul>
        	    </li>
              {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<div class="alert alert-info" role="alert"><ul>
	    {% for message in messages %}
      		<li>{{ message }}</li>
	    {% endfor %}
	    </ul></div>
	  {% endif %}
	{% endwith %}
	
	{% block body %}{% endblock %}
  <div class="container">
  <footer class="footer">
  <p>© 2016 Suretify, Inc.</p>
  </footer>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/bootstrap/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>
