<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Suretify{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/bootstrap/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/bootstrap/css/sb-admin-2.css" rel="stylesheet">
    <link href="/assets/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/assets/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/assets/cards/cards.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/assets/bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <link href="/assets/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/momentjs/moment.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79159639-1', 'auto');
  {% if current_user.is_authenticated %}ga('set', 'userId', '{{current_user.username}}'); // Set the user ID using signed-in user_id.{% endif %}
  ga('send', 'pageview');

  </script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html"><img style="max-height:200%; margin-right:10px;margin-top:-10px;float:left" src="https://suretify.co/assets/images/suretify-logo.png">  
                Suretify</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    <li id="user-login">
                      <a href="#" id="user-login">{{ current_user.username }}<span class="fa arrow"></span></a>
                      <ul class="nav nav-second-level">
                        <li><a href="/logout">Log out</a></li>
                      </ul>
                    </li>
                        <li>
                        <a href="#"><i class="fa fa-sitemap"></i> Surveys<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/surveys"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/surveys/new/"><i class="fa fa-plus"></i> Create New</a>
                                    </li>
                                    {% for survey in current_user.surveys %}
                                        <li>
                                            <a href="/surveys/view/{{survey.id}}"><i class="fa fa-file-text"></i> {{survey.title}}</a>
                                        </li>              
                                    {% endfor %}
                                </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users"></i> Patients <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/patients/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/patients/new/"><i class="fa fa-plus"></i> Add New</a>
                                    </li>
                                    {% for patient in current_user.patients %}
                                        <li>
                                            <a href="/patients/{{patient.id}}"><i class="fa fa-user"></i> {{patient.fullname}} ({{patient.mrn}})</a>
                                        </li>              
                                    {% endfor %}
                                    
                                </ul>
                        </li>
                        <li><a href="/responses" class="inactive"><i class="fa fa-bar-chart-o"></i> Responses</a></li>
                        <li><a href="#admin" class="inactive"><i class="fa fa-gears"></i> Settings</a></li>
              </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-info" role="alert"><ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul></div>
              {% endif %}
            {% endwith %}
                {%block body%}{%endblock%}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/bootstrap/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/assets/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/assets/bootstrap/js/sb-admin-2.js"></script>    
    <script type="text/javascript">$(document).ready(function(){
                 $('#activesort').DataTable();
             });
    </script>

</body>

</html>
