{% extends "layout_sidebar.html" %}
{% block title %}Responded Today | ISMMS Health Check {% endblock %}
{% block sidebar %}
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
    <li class="active sidebar-brand">
        <a href="#">
            Patients
        </a>
    </li>
{% for patient in current_user.patients %}
    <li>
        <a href="#">{{patient.mrn}}</a>
    </li>              
{% endfor %}
	<li class="active sidebar-brand">
        <a href="/patients/">
            View All
        </a>
    </li>
    </ul>
</div>
{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h2>Students Responded Today</h2>
	    </div>
	    
	    <div class="row">
	    {% if patients | length != 0 %}
	    <table class="table table-hover" id="activesort">
		<thead>
			<tr>
			<th> Name / Device ID </th>
			<th> Year </th>
			<th> Program </th>
			<th> Location </th>
			<th> Registered At</th>
			<th> Last Screened</th>
			<th> Status </th>
			<th> Actions </th>
			</tr>
		</thead>
		<tbody>
		{% for patient in patients %}
		  <tr>
			<td> <a href="/patients/{{patient.id}}">{{patient.fullname}} ({{fmt_id(patient.mrn)}})</a></td>
			<td> {{patient.year}}</td>
			<td> {{patient.program}}</td>
			<td> {{patient.location}}</td>
			<td> {{momentjs(patient.creation_time).calendar()}}</td>
			<td> {% if patient.last_seen %}{{momentjs(patient.last_seen).calendar()}}{% else %}Never{%endif%}</td>
			<td> {% if status[patient.id] == 1 %}
				<button class="btn btn-xs btn-success">Admit</button>
				{% elif status[patient.id]== 0 %}
				<button class="btn btn-xs btn-warning">Unscreened</button>
				{% elif status[patient.id]==-1 %}
				<button class="btn btn-xs btn-danger">Reject</button>
				{% else %}
				<button class="btn btn-xs btn-light">Undefined</button>
			{% endif %}
			</td>
			<td>
			<a href="/patients/edit/{{patient.mrn}}" class="btn btn-xs btn-default">Edit</a>
			<a href="/patients/delete/{{patient.mrn}}" class="btn btn-xs btn-danger">Delete</a></td>
			
		  </tr>
		{% endfor %}
		</tbody>
		</table>
		{% endif %}
		</div>
		
	    {% if patients | length == 0 %}
	    <div class="well">
		<div class="starter-template">
		No students registered yet.
		<h1>:(</h1>
		</div></div>
	    {% else %}
	    <div class="row" style="padding-top:20px;">
	    
	    </div>
	    {% endif %}
	    </div>
    </div><!-- /.container -->
{% endblock %}
