{% extends "layout_sidebar.html" %}
{% block title %}Patients | Suretify {% endblock %}
{% block sidebar %}
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
    <li class="active sidebar-brand">
        <a href="#">
            Patients
        </a>
    </li>
{% for patient in current_user.patients %}
    <li>
        <a href="#">{{patient.mrn}}</a>
    </li>              
{% endfor %}
	<li class="active sidebar-brand">
        <a href="/patients/">
            View All
        </a>
    </li>
    </ul>
</div>
{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h2><span style="color: grey;">{{current_user.username}} /</span> Patients <a href="/patients/new/" class="btn btn-sm btn-primary">Add a new patient</a></h2>
	    </div>
	    
	    <div class="row">
	    {% if patients.first() != None %}
	    <table class="table table-hover" id="activesort">
		<thead>
			<tr>
			<th> Device ID </th>
			<th> Program </th>
			<th> Location </th>
			<th> Status </th>
			<th> Actions </th>
			<th> Notes </th>
			</tr>
		</thead>
		<tbody>
		{% for patient in patients %}
		  <tr>
			<td> <a href="/patients/{{patient.id}}">{{fmt_id(patient.mrn)}}</a></td>
			<td> {{patient.program}}</td>
			<td> {{patient.location}}</td>
			<td> {% if status[patient.id] == 0%}
			<div class="dropdown">
			  <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Ready 
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			  	<li class="dropdown-header">Actions</li>
			  	<li class="dropdown-submenu"><a tabindex="-1" href="#">Give Survey</a>
			  	<ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                  {% for s in current_user.surveys %}
                    <li class="dropdown-submenu"><a tabindex="-1" href="#">{{s.title}}</a>
                    <ul tabindex="-1" class="dropdown-menu">
                        <li><a href="/surveys/start/{{s.id}}?u={{patient.id}}">Web</a></li>
                        <li><a href="/send_survey/voice/{{patient.id}}/{{s.id}}">Phone</a></li>
                        <li><a href="/send_survey/sms/{{patient.id}}/{{s.id}}">SMS</a></li>
                        <li><a href="/send_survey/email/{{patient.id}}/{{s.id}}">Email</a></li>
                    </ul>
                    </li>
                  {% endfor %}
                  </li>
                </ul>
			  	</li>
			  </ul>
			</div>
			{% else %}
			<div class="dropdown">
			  <button class="btn btn-xs btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Waiting <span class="badge">{{status}}</span>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			  	<li class="dropdown-header">Remind by</li>
			    <li><a href="/prod/sms/{{patient.id}}">SMS</a></li>
			    <li><a href="/prod/voice/{{patient.id}}">Phone call</a></li>
			    <li><a href="/prod/email/{{patient.id}}">Email</a></li>			    
			    <li role="separator" class="divider"></li>
			    <li class="dropdown-header">Actions</li>
			    <li><a href="/prod/clear/{{patient.id}}">Clear status</a></li>
			  	<li class="dropdown-submenu"><a tabindex="-1" href="#">Give Survey</a>
			  	<ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                  {% for s in current_user.surveys %}
                    <li class="dropdown-submenu"><a tabindex="-1" href="#">{{s.title}}</a>
                    <ul tabindex="-1" class="dropdown-menu">
                        <li><a href="/surveys/start/{{s.id}}?u={{patient.id}}">Web</a></li>
                        <li><a href="/send_survey/voice/{{patient.id}}/{{s.id}}">Phone</a></li>
                        <li><a href="/send_survey/sms/{{patient.id}}/{{s.id}}">SMS</a></li>
                        <li><a href="/send_survey/email/{{patient.id}}/{{s.id}}">Email</a></li>
                    </ul>
                    </li>
                  {% endfor %}
                  </li>
                </ul>
			  	</li>
			  </ul>
			</div>
			{% endif %}
			</td>
			<td>
			<a href="/patients/edit/{{patient.mrn}}" class="btn btn-xs btn-default">Edit</a>
			<a href="/patients/delete/{{patient.mrn}}" class="btn btn-xs btn-danger">Delete</a></td>
			<td>{{patient.notes}}</td>
		  </tr>
		{% endfor %}
		</tbody>
		</table>
		{% endif %}
		</div>
		
	    {% if patients.first() == None %}
	    <div class="well">
		<div class="starter-template">
		No patients yet.
		<h1>:(</h1>
		<a href="/surveys/new/">How about adding a new patient?</a>
		</div></div>
	    {% else %}
	    <div class="row" style="padding-top:20px;">
	    
	    </div>
	    {% endif %}
	    </div>
    </div><!-- /.container -->
{% endblock %}
