{% extends "layout_sidebar.html" %}
{% block title %}Responses | Suretify{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h2><span style="color: grey;">{{current_user.username}} /</span> Responses</h2>
	    </div>
	    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{% for uniq_id,responseobj in responses %}
		  <div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
			  <h4 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
				  		Patient: {{uniq_id[0].fullname}} ({{uniq_id[0].mrn}}) <div class="pull-right">{{uniq_id[1]}}</div>
				</a>
			  </h4>
			</div>
			<div id="collapse{{loop.index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{loop.index}}">
			  <div class="panel-body">
				  <table class="table">
					  <thead>
					  <th>Question</th>
					  <th>Response</th>
					  <th></th>
					  </thead>
					  <tbody>
					  </tbody>
				  {% for response in responseobj %}
				  <tr><td>{{response.question.body}}</h4></td>
				<td>
				{% if "YES" in response.question.kind|string %}
					Responded with {% if response.response == '1' %}YES{% else %}NO{% endif %}
				{% elif "10" in response.question.kind|string %}
					Responded with {{response.response}} out of 10
				{% elif "/assets/audio/" in response.response %}
					<audio controls preload="none" style="width:200px"><source src="{{response.response}}"></audio>
				{% else %}
				Responded with "{{response.response}}"
				{% endif %}
				</td>
				<td>
				<a href="/responses/delete/{{ response.id }}" class="btn btn-xs btn-secondary">Delete</a>
				</td></tr>	
				{% endfor %}
				
				</tbody>
				</table>
			  </div>
			</div>
		  </div>
		{% endfor %}
		</div>
	    {% if responses|length == 0 %}
	    <div class="well">
		<div class="starter-template">
		No responses yet.
		<h1>:(</h1>
		<a href="/surveys">Choose a survey to take &raquo;</a>
		</div></div>
	    {% endif %}
	    </div>
    </div><!-- /.container -->
{% endblock %}
