{% extends "layout_sidebar.html" %}
{% block title %}Responses | ISMMS Health Check{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h2><span style="color: grey;">{{current_user.username}} /</span> Responses</h2>
	    </div>
	    <div class="col col-12">
		  <table class="table table-hover" id="activesort">
			  <thead>
			  <th>#</th>
			  <th>Time</th>
			  <th>Patient</th>
			  <th>Survey</th>
			  <th>Question</th>
			  <th>Response</th>
			  <th>Actions</th>
			  </thead>
			  <tbody>
		    {% for response in responses %}
			  <tr>
			  <td>{{loop.index}}</td>
			  <td>{{momentjs(response.time).calendar()}}</td>
			  <td>{{response.patient.fullname}} ({{response.patient.mrn}})</td>
			  <td>{{response.question.survey.title}}</td>
			  <td>{{response.question.body}}</td>
			<td>
			{% if "YES" in response.question.kind|string %}
				Responded with {% if response._response == '1' %}YES{% else %}NO{% endif %}
			{% elif "10" in response.question.kind|string %}
				Responded with {{response._response}} out of 10
			{% elif "/assets/audio/" in response._response %}
				<audio controls preload="none" style="width:200px"><source src="{{response._response}}"></audio>
			{% else %}
			Responded with "{{response._response}}"
			{% endif %}
			</td>
			<td>
			<a href="/responses/delete/{{ response.id }}" class="btn btn-xs btn-secondary">Delete</a>
			</td></tr>	
			{% endfor %}
			</tbody>
			</table>
		</div>
	    
	    </div>
    </div><!-- /.container -->
{% endblock %}
