{% extends "layout.html" %}
{% block title %}In progress: {{survey.title}} | ISMMS Health Check{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h3><span style="color: grey;">{{current_user.username}} / <a href="/surveys">surveys</a> /</span> {{ survey.title }} </h3>
	    </div>
	    <div class="jumbotron survey-question">
	    <div class="container">
	    	<div class="col-lg-2"></div>
	    	<div class="col-lg-8">
	    <h2 style="color:gray">{{question.body}}</h2>

	    {% if question.image %}
	    <img src="/assets/uploads/{{question.image}}" style="max-height:300px; max-width:300px">
	    {% endif %}
	    {{ question.description_html | safe }}	
	    
	    {% include 'form_survey.html' %}
	    {% if next_q != None %}
	    <a href="#" class="btn btn-sm btn-primary" onclick='form.submit();'>Next</a>
	    {% else %}
	    <a href="#" class="btn btn-sm btn-primary" onclick='form.submit();'>Finish and submit</a>
	    {% endif %}
	    </div>
	    <div class="col-lg-2"></div>
		</div>
	    <script>
	    var form = document.getElementById("serveSurvey");
	    </script>
	    </div>
    </div><!-- /.container -->
{% endblock %}
