{% extends "layout.html" %}
{% block body %}
	    <div class="page-header">
		    <h2><span style="color: grey;">username /</span> Surveys <a href="/surveys/new/" class="btn btn-sm btn-primary">Build a new survey</a></h2>
	    </div>
	    
	    <div class="row">
		{% for survey in surveys %}
		{% if (loop.index % 4 == 0) and (loop.index > 0)  %}
		</div>
		<div class="row">
			{% endif %}
			<div class="card card--medium col-xs-4">
			  <h2 class="card__title"><a href="/surveys/start/{{ survey.id }}">{{ survey.title }}</a></h2><span class="card__subtitle">(ID: {{survey.id}})</span>
			  <p class="card__text">{{survey.description}}</p>
			  <div class="card__action-bar">
				<button class="card__button"><a href="/surveys/view/{{ survey.id }}">EDIT</a></button>
				<button class="card__button"><a href="/surveys/edit/{{ survey.id }}">CHANGE</a></button>
				<button class="card__button"><a href="/surveys/delete/{{ survey.id }}" style="color:red">DELETE</a></button>
			  </div>
			</div>		
		{% endfor %}
		</div>
		
	    {% if surveys.first() == None %}
	    <div class="well">
		<div class="starter-template">
		No surveys yet.
		<h1>:(</h1>
		<a href="/surveys/new/">How about building a new survey?</a>
		</div></div>
	    {% else %}
	    <div class="row" style="padding-top:20px;">
	    
	    </div>
	    {% endif %}
	    </div>
    </div><!-- /.container -->
{% endblock %}
