{% extends "layout.html" %}
{% block title %}Exited: {{survey.title}} | ISMMS Health Check{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h3>Thank you for taking the {{survey.title}}.</h3>
	    </div>
	    <div class="jumbotron survey-question" style="background-color: #ffd6d6;">
	    <div class="container">
	    	<div class="col-lg-2"></div>
	    	<div class="col-lg-8">
	    	{%if record.message %}<h2 style="color:red">{{record.message}}</h2>{% endif%}
	    	<p><small>Follow your program requirements for reporting your absence.</small></p><p><small> Schedule a tele-health visit with your provider or Student Health should symptoms persist or if you have further questions. </small></p>
	    	<p>Device ID: <strong>{{ fmt_id(patient.mrn) }}</strong></p>
	    	<p>Exit Date: <strong>{{ momentjs(record.end_time).format('MMMM Do YYYY, h:mm a') }}</strong></p>
	    	{% if qrcode_out %}
	    	<p>QR Code:</p><p><img src="{{qrcode_out|safe}}" style="max-width:100%"></p>
	    	{% endif %}
	    	<p><a type="button" class="btn btn-sm btn-primary" href="{{url_for('view_patient_self',survey_id=survey.id)}}">See your records</a></p>
		    </div>
	    </div><!-- /.container -->
	</div>
	<div class="container">
	<div class="row justify-content-center">
		<p class="h2 title text-center">Where can I find updates on COVID-19 policies?</p>
		<div class="row justify-content-center">
			<div class="col col-lg-4">
			</div>
			<div class="col col-lg-4">
				<a href="http://medinfo.mssm.edu/"><img src="/assets/images/medinfo_icon.png"></a>
				<h2>MedInfo App</h2>
				<p>Built specifically for medical and graduate students at Mount Sinai, the MedInfo App has the most up-to-date information on infection prevention policy, travel registry, testing, weekly communications, clerkship resources... and more!</p>
			</div>
			<div class="col col-lg-4">
			</div>
		</div>
	</div>
</div>
{% endblock %}
