{% extends "layout.html" %}
{% block title %}Completed: {{survey.title}} | Suretify{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h3>Survey complete</h3>
	    </div>
	    <div class="jumbotron survey-question">
	    <div class="container">
	    	<div class="col-lg-2"></div>
	    	<div class="col-lg-8">
	    	<h2 style="color:gray">Thank you for taking the {{survey.title}}.</h2>
	    	<p>Your answers have been recorded successfully. Please screenshot or print out this page for your records. You can also bookmark this page on this device to refer to it later.</p>
	    	<p>Device ID: <strong>{{ fmt_id(patient.mrn) }}</strong></p>
	    	<p>Completion Date: <strong>{{ momentjs(record.end_time).format('MMMM Do YYYY, h:mm a') }}</strong></p>
	    	<p>QR Code:</p><p><img src="{{qrcode_out|safe}}" style="max-width:100%"></p>
	    	<p><a type="button" class="btn btn-sm btn-primary" href="{{url_for('start_survey',survey_id=survey.id)}}">Submit another response</a></p>
		    </div>
	    </div><!-- /.container -->
{% endblock %}
