{% extends "layout.html" %}
{% block title %}Completed: {{survey.title}} | ISMMS Health Check{% endblock %}
{% block body %}
	<div id="shc_fmt">
		<div class="page-header">
		    <h3>Thank you for taking the {{survey.title}}.</h3>
	    </div>
	    <div class="jumbotron survey-question" style="background-color: #e0f3e8;">
	    <div class="container">
	    	<div class="col-lg-2"></div>
	    	<div class="col-lg-8">
	    	{%if record.message %}<h2 style="color:green;background-color:inherit;">{{record.message}}</h2>{% endif%}
	    	<p><small>Your answers have been recorded successfully. Your attestation is shown at the bottom of this page.</small></p>
		<p><small>Device ID: <strong>{{ fmt_id(patient.mrn) }}</strong><small></p>
	    	<p><small>Completion Date: <strong>{{ momentjs(record.end_time).format('MMMM Do YYYY, h:mm a') }}</strong><small></p>
	    	{% if qrcode_out %}
	    	<p>QR Code:</p><p><img src="{{qrcode_out|safe}}" style="max-width:100%"></p>
	    	{% endif %}
		<p><a type="button" class="btn btn-sm btn-primary" href="{{url_for('view_patient_self',survey_id=survey.id)}}">See your records</a>
                </p>
		<p><small>You may also wish to make an appointment for <a href="https://ehsappointments.as.me/AsymptomaticCOVIDPCRTest">asymptomatic testing</a> at Mount Sinai, which is now available for all students. There are two locations
                        available: 1190 Fifth Avenue and 2 West 86th Street. Click on the button below to schedule an appointment:</small>
		</p><p>
                   <a type="button" class="btn btn-md btn-info" style="color:black" href="https://ehsappointments.as.me/AsymptomaticCOVIDPCRTest">Asymptomatic testing</a>
                </p>
		    </div>
	    </div><!-- /.container -->
	</div>
	<div class="jumbotron survey-question" style="background-color: rgb(243,243,243);padding-left:0px;padding-right:0px;margin-left:-15px;margin-right:-15px">
          <style>
          	@font-face{
          		font-family:redcap-font;
          		src: url(/assets/fonts/OpenSans.woff);
          	}
            .redcap{
              color: white;
              background-color: #339966;
              margin-top:1px;
              margin-bottom:0px;
              font-family: redcap-font, Helvetica, Arial, sans-serif;
              font-size:32px;
            }</style>
            <div style="max-width:500px; margin:0 auto">
				<span class="redcap">*********************</span><br>
				    	<span class="redcap">COVID-19 ATTESTATION</span><br>
				    	<span class="redcap">Cleared for: <br>
				    		{{ momentjs(record.end_time).format('MM/DD/YYYY h:mma') }}
				    	</span><br>
						<span class="redcap">Student:<br> 
							{{patient.fullname}}
						</span><br>
						<span class="redcap">Life Number:<br> 
							{{patient.lifenumber}}
						</span><br>
	    		<span class="redcap">*********************</span><br>
    		</div>
	    </div><!-- /.container -->
</div>
<div class="container">
	<div class="row justify-content-center">
		<p class="h2 title text-center">Where can I find updates on COVID-19 policies?</p>
		<div class="row justify-content-center">
			<div class="col col-lg-4">
			</div>
			<div class="col col-lg-4">
				<a href="http://medinfo.mssm.edu/"><img src="/assets/images/medinfo_icon.png"></a>
				<h2>MedInfo App</h2>
				<p>Built specifically for medical and graduate students at Mount Sinai, the MedInfo App has the most up-to-date information on infection prevention policy, travel registry, testing, weekly communications, clerkship resources... and more!</p>
			</div>
			<div class="col col-lg-4">
			</div>
		</div>
	</div>
</div>
	    {% endblock %}
