{% extends "layout.html" %}
{% block title %}Completed: {{survey.title}} | ISMMS Health Check{% endblock %}
{% block body %}
		<div id="redcap_fmt" style="display:none">
	    <div class="page-header">
		    <h3>Thank you for completing the Mount Sinai Health System student self-monitoring assessment</h3>
	    </div>
	    <div class="jumbotron survey-question" style="background-color: rgb(243,243,243);padding-left:0px;padding-right:0px;">
	    <div class="container">
	    	<div class="col-lg-2"></div>
	    	<div class="col-lg-8">
          <style>
            h2{
              color: white;
              background-color: #339966;
              margin-top:1px;
              margin-bottom:0px;
              font-family: "Open Sans", Helvetica, Arial, sans-serif;
              font-size:24px;
            }</style>
			<h2>**********************************</h2>
			    	<h2>COVID-19 ATTESTATION</h2>
			    	<h2>Cleared for: <br>
			    		{{ momentjs(record.end_time).format('MM/DD/YYYY h:mma') }}
			    	</h2>
					<h2>Student:<br> 
						{{patient.fullname}}
					</h2>
		    		<h2>Mount Sinai Student Health ID:<br>
		    			{{ fmt_id(patient.mrn) }}
		    		</h2>
    		<h2>**********************************</h2>
	    	{% if qrcode_out %}
	    	<h2>QR Code:<br>
	    		<img src="{{qrcode_out|safe}}" style="max-width:100%">
	    	</h2>
	    	{% endif %}
		    </div>
	    </div><!-- /.container -->
	</div>
	<button class="btn btn-md btn-success" onclick="toggleRedcap()">Use original style</button>
</div>
	<div id="shc_fmt">
		<div class="page-header">
		    <h3>Thank you for taking the {{survey.title}}.</h3>
	    </div>
	    <div class="jumbotron survey-question" style="background-color: #e0f3e8;">
	    <div class="container">
	    	<div class="col-lg-2"></div>
	    	<div class="col-lg-8">
	    	{%if record.message %}<h2 style="color:green;background-color:inherit;">{{record.message}}</h2>{% endif%}
	    	<p><small>Your answers have been recorded successfully. Please screenshot or print out this page for your records. You can also bookmark this page on this device to refer to it later.</small></p>
	    	<p><button class="btn btn-md btn-success" onclick="toggleRedcap()"><strong>Use RedCap style</strong></button></p>
	    	<p>Device ID: <strong>{{ fmt_id(patient.mrn) }}</strong></p>
	    	<p>Completion Date: <strong>{{ momentjs(record.end_time).format('MMMM Do YYYY, h:mm a') }}</strong></p>
	    	{% if qrcode_out %}
	    	<p>QR Code:</p><p><img src="{{qrcode_out|safe}}" style="max-width:100%"></p>
	    	{% endif %}
	    	<p><a type="button" class="btn btn-sm btn-primary" href="{{url_for('view_patient_self',survey_id=survey.id)}}">See your records</a></p>
		    </div>
	    </div><!-- /.container -->
	</div>
</div>
	<script type="text/javascript">
	function toggleRedcap() {
	  var x = document.getElementById("redcap_fmt");
	  var y = document.getElementById("shc_fmt");
	  if (x.style.display === "none") {
	    x.style.display = "block";
	    y.style.display = "none";
	  } else {
	    x.style.display = "none";
	    y.style.display = "block";
	  }
	}
	</script>
	    {% endblock %}
