{% extends "layout_sidebar.html" %}
{% block title %}Patients | ISMMS Health Check {% endblock %}
{% block sidebar %}
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
    <li class="active sidebar-brand">
        <a href="#">
            Patients
        </a>
    </li>
{% for patient in current_user.patients %}
    <li>
        <a href="#">{{patient.mrn}}</a>
    </li>              
{% endfor %}
	<li class="active sidebar-brand">
        <a href="/patients/">
            View All
        </a>
    </li>
    </ul>
</div>
{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h2>Administrators</h2>
	    </div>
	    
	    <div class="row">
	    <table class="table table-hover" id="activesort">
		<thead>
			<tr>
			<th> E-mail </th>
			<th> Full Name </th>
			<th> Status </th>
			<th> Enable/Disable </th>
			<th> Actions </th>
			</tr>
		</thead>
		<tbody>
		{% for user in users %}
		  <tr>
			<td> {{user.email}}</td>
			<td> {{user.name}}</td>
			<td> {% if user.active %}<button class="btn btn-xs btn-success">Active</button>{% else %}<button class="btn btn-xs btn-light">Disabled</button>{% endif %}</td>
			<td> {% if user.active == False%}
				<a href="/users/active/{{user.id}}" class="btn btn-xs btn-success">Make active</a>
				{% else %}
				<a href="/users/deactivate/{{user.id}}" class="btn btn-xs btn-warning">Deactivate</a>
				{% endif %}
			</td>
			<td>
				<a href="/users/delete/{{user.id}}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this admin? This action cannot be undone.')">Delete</a>
			</td>
			<td>			
		  </tr>
		{% endfor %}
		</tbody>
		</table>
		</div>
	    </div>
    </div><!-- /.container -->
{% endblock %}
