{% extends "layout_sidebar.html" %}
{% block title %}Patient Detail | ISMMS Health Check {% endblock %}
{% block body %}
	<div class="header">
	    <table class="table table-responsive">
		<thead>
			<tr>
			<th style="font-size:28px">{% if patient.fullname != "" %}{{patient.fullname}}{% else %}Anonymous User{% endif %}</th>
			<th> </th>
			<th> Year </th>
			<th> Program </th>
			<th> Location </th>
			<th> Age </th>
			<th> Phone </th>
			<th> Email </th>
			<th> Status </th>
			<th> Actions </th>
			</tr>
		</thead>
		<tbody>
		  <tr>
			<td> Device ID: {{ fmt_id(patient.mrn) }}</td>
			<td> </td>
			<td> {{patient.year}}</td>
			<td> {{patient.program}}</td>
			<td> {{patient.location}}</td>
			<td> {{patient.age}}</td>
			<td> {{patient.phone}}</td>
			<td> {{patient.email}}</td>
			<td> {% if status == 1 %}
				<button class="btn btn-xs btn-success">Admit</button>
				{% elif status== 0 %}
				<button class="btn btn-xs btn-warning">Unscreened</button>
				{% elif status==-1 %}
				<button class="btn btn-xs btn-danger">Reject</button>
				{% else %}
				<button class="btn btn-xs btn-light">Undefined</button>
			{% endif %}
			</td>
			<td>
			<a href="/patients/edit/{{patient.mrn}}" class="btn btn-xs btn-default">Edit</a>
			<a href="/patients/delete/{{patient.mrn}}" class="btn btn-xs btn-danger">Delete</a>
		</td>
		  </tr>
		</tbody>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-body" style="height:100%">
                <ul class="chat">
                	{% for time, type, response in patients_feed %}
                		{% if type=="patient" %}
                    	<li class="left clearfix">
                        <span class="chat-img pull-left">
                            <i class="fa fa-user"></i>
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font" style="font-size:18px">{{patient.fullname}} <span style="color: grey; font-size:14px">{% if response.completed %} completed {%else%} started {%endif%}</span></strong><br>
                                	<small class="pull-right text-muted">
	                                    <i class="fa fa-clock-o fa-fw"></i>{{momentjs(time).calendar()}}<a href="/responses/survey/delete/{{response.id}}" class="btn btn-xs btn-secondary">Delete</a>
	                                </small>
                                </div>
								<div class="card sr-container">
									<div class="card-body">
										<h5 class="card-title">{{response.survey.title}}</h5>
									</div>
			                            	<ul class="list-group list-group flush">
			                                {% for q in response.responses.all() %}
			                            		<li>{{q.question.body}}
			                            			{% if q.response is iterable and q.response is not string %}
			                            				{% for rr in q.response %}
			                            					<ul><li><strong>{{rr}}</strong></li></ul>
			                            				{% endfor %}
			                            			{% else %}
			                            				<ul><li><strong>{{q.response}}</strong></li></ul>
			                            			{% endif %}
			                            		</li>
			                        		{% endfor %}
			                        		{% if response.responses.all() | length == 0 %}
			                        			<i>No responses submitted</i>
			                        			{% endif %}
			                            	</ul>
			                            <div class="card-body">
			                            {% if response.completed %}
			                        		<a href="{{url_for('complete_survey',session_id=response.session_id)}}" class="card-link">Completion record</a>
			                        	{% elif response.exited %}
			                        		<a href="{{url_for('exit_survey',session_id=response.session_id)}}" class="card-link">Exit record</a>
			                     		{% endif %}
                            		</div>
	                        </div>
	                    {% elif type=="comment" %}
	                    {% set commenter = response.user %}
	                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <i class="fa fa-comment" style="color:#f0ad4e"></i>
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header" >
                                <strong class="primary-font" style="font-size:18px; color:#f0ad4e">{{commenter.username}} <span style="font-size:14px">commented</span></strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i>{{momentjs(time).calendar()}}<a href="/comment/delete/{{response.id}}" class="btn btn-xs btn-secondary">Delete</a>
                                </small>
                            </div>
                            <p style="font-weight: normal;">
                            	{{response.body}}
                            </p>
	                        </div>
	                    </li>
	                    {% endif %}
	                {% endfor %}
                </ul>
        </div>
            <!-- /.panel-body -->
        <div class="panel-footer">
        	<form action="/comment/add/{{patient.id}}/" method="POST">
                <div class="input-group">
                    <input id="body" name="body" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <input type="submit" value="Send" class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </form>
        </div>
            <!-- /.panel-footer -->
    </div>
{% endblock %}
