{% extends "layout_sidebar.html" %}
{% block title %}Patients | Suretify {% endblock %}
{% block body %}
	<div class="header">
	    <table class="table">
		<thead>
			<tr>
			<th style="font-size:28px">{{patient.fullname}}</th>
			<th> </th>
			<th> DOB </th>
			<th> Phone </th>
			<th> Email </th>
			<th> Status </th>
			<th> Actions </th>
			<th> Notes </th>
			</tr>
		</thead>
		<tbody>
		  <tr>
			<td> MRN: {{patient.mrn}}</td>
			<td> </td>
			<td> {{patient.dob}}</td>
			<td> {{patient.phone}}</td>
			<td> {{patient.email}}</td>
			<td> {% if status == 0%}
			<div class="dropdown">
			  <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Ready 
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			  	<li class="dropdown-header">Actions</li>
			  	<li class="dropdown-submenu"><a tabindex="-1" href="#">Give Survey</a>
			  	<ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                  {% for s in current_user.surveys %}
                    <li class="dropdown-submenu"><a tabindex="-1" href="#">{{s.title}}</a>
                    <ul tabindex="-1" class="dropdown-menu">
                        <li><a href="/surveys/start/{{s.id}}?u={{patient.id}}">Web</a></li>
                        <li><a href="/send_survey/voice/{{patient.id}}/{{s.id}}">Phone</a></li>
                        <li><a href="/send_survey/sms/{{patient.id}}/{{s.id}}">SMS</a></li>
                        <li><a href="/send_survey/email/{{patient.id}}/{{s.id}}">Email</a></li>
                    </ul>
                    </li>
                  {% endfor %}
                  </li>
                </ul>
			  	</li>
			  </ul>
			</div>
			{% else %}
			<div class="dropdown">
			  <button class="btn btn-xs btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    Waiting <span class="badge">{{status}}</span>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			  	<li class="dropdown-header">Remind by</li>
			    <li><a href="/prod/sms/{{patient.id}}">SMS</a></li>
			    <li><a href="/prod/voice/{{patient.id}}">Phone call</a></li>
			    <li><a href="/prod/email/{{patient.id}}">Email</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a href="/prod/clear/{{patient.id}}">Clear status</a></li>
			  </ul>
			</div>
			{% endif %}
			</td>
			<td> <a href="/patients/{{patient.mrn}}/give_survey" class="btn btn-xs btn-default">Give Survey</a>
			<a href="/patients/edit/{{patient.mrn}}" class="btn btn-xs btn-default">Edit</a>
			<a href="/patients/delete/{{patient.mrn}}" class="btn btn-xs btn-danger">Delete</a></td>
			<td>{{patient.notes}}</td>
		  </tr>
		</tbody>
		</table>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading"></div>
		<div class="panel-body" style="height:100%">
                <ul class="chat">
                	{% for time, type, question, response in patients_feed %}
                		{% if type=="patient" %}
                    	<li class="left clearfix">
                        <span class="chat-img pull-left">
                            <i class="fa fa-user"></i>
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font" style="font-size:18px">{{patient.fullname}} <span style="color: grey; font-size:14px">{% if question %}answered </span><br><span style="color: grey; font-size:12px">{{question.body}}{% else %} commented{% endif %} </span></strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i>{{momentjs(time).calendar()}}<a href="/responses/delete/{{response.id}}" class="btn btn-xs btn-secondary">Delete</a>
                                </small>
                            </div>
                            <p style="font-size:16px">
                                {% if "YES" in response.question.kind|string %}
									{% if response.response == '1' %}Yes{% else %}No{% endif %}
								{% elif "10" in response.question.kind|string %}
									{{response.response}} out of 10
								{% elif "/assets/audio/" in response.response %}
									<audio controls preload="none" style="width:200px"><source src="{{response.response}}"></audio>
								{% else %}
									{{response.response}}
								{% endif %}
                            </p>
	                        </div>
	                    </li>
	                    {% elif type=="comment" %}
	                    {% set commenter = response.user %}
	                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <i class="fa fa-comment"></i>
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header" >
                                <strong class="primary-font" style="font-size:18px">{{commenter.username}} <span style="color: grey; font-size:14px">commented</span></strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i>{{momentjs(time).calendar()}}<a href="/comment/delete/{{response.id}}" class="btn btn-xs btn-secondary">Delete</a>
                                </small>
                            </div>
                            <p style="font-weight: normal;">
                            	{{response.body}}
                            </p>
	                        </div>
	                    </li>
	                    {% endif %}
	                {% endfor %}
                </ul>
        </div>
            <!-- /.panel-body -->
        <div class="panel-footer">
        	<form action="/comment/add/{{patient.id}}/" method="POST">
                <div class="input-group">
                    <input id="body" name="body" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <input type="submit" value="Send" class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </form>
        </div>
            <!-- /.panel-footer -->
    </div>
{% endblock %}
