{% extends "layout.html" %}
{% block title %}{{survey.title}} | Suretify{% endblock %}
{% block body %}
	    <div class="page-header">
		    <h3><span style="color: grey;">{{current_user.username}} / <a href="/surveys">surveys</a> /</span> {{ survey.title }} <span style="color: grey;font-size:16px">(#id: {{survey.id}})</span></h3>
	    </div>
	    <table class="table table-hover">
		<thead>
			<tr>
			<th> # </th>
			<th> Title </th>
			<th> Actions </th>
			</tr>
		</thead>
		<tbody>
		{% for question in survey.questions %}
		<tr>
			<th scope="row">{{ loop.index }}</th>
			<td><a href="/surveys/serve/{{survey.id}}?question={{ question.id }}">{{ question.body }}</a><small style="color:grey"> (ID #:{{question.id}})</td>
			<td>
			<a href="/questions/edit/{{ question.id }}" class="btn btn-xs btn-primary">Edit</a>
			<a href="/questions/delete/{{ question.id }}" class="btn btn-xs btn-secondary">Delete</a> 
				</td>
		</tr>
		{% endfor %}			
		</tbody>
	    </table>
	    {% if survey.questions|length == 0 %}
	    <div class="well">
		<div class="starter-template">
		No questions for this survey yet.
		<h1>:(</h1>
		<a href="/questions/new/?survey={{ survey.id }}">Add a new question to this survey</a>
		</div></div>
	    {% else %}
	    <a href="/questions/new/?survey={{ survey.id }}" class="btn btn-lg btn-primary">Add more questions</a>
	    {% endif %}
	    </div>
    </div><!-- /.container -->
{% endblock %}
