{% extends "layout_sidebar.html" %}
{% block title %}{{survey.title}} | Suretify{% endblock %}
{% block body %}
	    <div class="page-header" style="padding-bottom:20px">
		    <h3>Survey Editor / <span style="color: grey;">{{ survey.title }}</span></h3>
		    <a href="/surveys/{{ survey.id }}/responses/dashboard" class="btn btn-md btn-secondary" style="top:-10px"><i class="fa fa-dashboard"></i> Dashboard</a>
		    <a href="/surveys/edit/{{ survey.id }}" class="btn btn-md btn-secondary" style="top:-10px"><i class="fa fa-edit"></i> Edit</a>
		    <a href="/questions/new/?survey={{ survey.id }}" class="btn btn-md btn-secondary" style="top:-10px"><i class="fa fa-plus"></i> Add question</a>
		    <a href="/surveys/start/{{ survey.id }}" class="btn btn-md btn-secondary" style="top:-10px"><i class="fa fa-play"></i> Start</a>
	    </div>
	    <div class="col col-12" style="background-color:rgb(238, 238, 238);padding:15px">
	   	<div class="row" id="sortMe">
		{% set questions = survey.questions() %}
		{% for question in questions %}
		
		<div id ="question_{{question.id}}" class="media" style="padding:10px; margin-top:0px;">
			<div class="media-container draggable" style="max-width:500px; background-color:white;box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);">
			<div class="media" style="padding:10px;">
				<small>Question #{{loop.index}}</small>
				<h4 class="media-heading">{{ question.body }}</h4>
				<a href="/surveys/serve/{{survey.id}}?question={{ question.id }}" style="padding-right:10px">Preview</a>
				<a href="/questions/edit/{{ question.id }}" style="padding-right:10px">Edit</a>
				<a href="/questions/delete/{{ question.id }}" style="color:darkred">Delete</a>
			</div>
			<div class="add-triggers" style="border-style: solid none none none; border-width:0.5px; border-color:#dddddd; padding:5px 5px 5px 10px">
			<a href="/triggers/new?question={{question.id}}">Add a trigger</a>
			</div>
			</div>
			{% if question.triggers != None %}
				{% for trigger in question.triggers %}
					<div class="connector">
						<div class="connector-line" style="border-style:none none none solid; margin-left:120px; padding:20px;">If<span style="color: grey;"> -x-x-x- </span></div>
					</div>
					<div class="media draggable" style="margin-left:80px; max-width:600px;margin-top:0px;box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);">
					<div class="media-left" style="background-color:#e6e6ff; padding:10px;box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);">
					  blah
					</div>
					<div class="media-body" style="padding:10px; background-color:white;padding:10px;">
						<small>Trigger</small>
					  
					<a href="/triggers/edit/{{ trigger.id }}" style="padding-right:10px">Edit</a>
					<a href="/triggers/delete/{{ trigger.id }}" style="color:darkred">Delete</a>
					</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		{% endfor %}
		</div></div>
	    {% if questions|length == 0 %}
	    <div class="well">
		<div class="starter-template">
		No questions for this survey yet.
		<h1>:(</h1>
		<a href="/questions/new/?survey={{ survey.id }}">Add a new question to this survey</a>
		</div></div>
	    {% endif %}
	    </div>
	</div>
    </div><!-- /.container -->
{% endblock %}
{% block scripts %}
<script>
    $(function(){
        $('#sortMe').sortable({
            update: function(event, ui) {
                var postData = $(this).sortable('serialize');

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(postData),
                    dataType: 'json',
                    url: '/surveys/{{survey.id}}/questions/sort'
                });
            }
        });
    });
</script>
{% endblock %}
