/* navbar */
.navbar-default {
    background-color: #6a3a8b;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #eee;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #ccc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #a16dc2;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #a16dc2;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.img-circle {
	horizontal-align:middle;
	border-radius:50%;
	height:150px;
}

.col-lg-4 {
text-align:center;
}

.jumbotron {
text-align:center;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.sidebar ul li a {
    background-color:#dddddd;
    color:#000000;

}

.nav li a:hover,
.sidebar ul li a.active,
.nav li a:focus{
    background-color:#ffffff;
    color:#111111;
}

.sidebar .nav-second-level li a{
    color:#111111;
    background-color:#eeeeee;
}

.sidebar .nav-second-level li a:hover{
    background-color:#ffffff;
    color:#111111;
}

#wrapper{
    background-color:#dddddd;
}

#user-login{
    background-color: #333333;
    color:#eee;
}

.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border-style:hidden hidden solid hidden;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}